<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <article class="panel panel-default">
        <div class="panel-body">
          {{ endpoint.name }}
        </div>
        <footer class="panel-footer">
          <div class="status">
            {{ endpoint.user }}
          </div>
          <div class="config">
            <a href="#">Change</a>
            <a href="#">Delete</a>
          </div>
        </footer>
      </article>
    </div>
  </div>
</div>
