<div class="col-md-8 col-md-offset-2">
  <div class="form-group">
    <label for="endpointName">Name</label>
    <!--input type="text" id="endpointName"
      class="form-control"
      [(ngModel)]="endpoint.name"
      [ngStyle]="{backgroundColor: mycolor}"
      (mouseenter)="mycolor = 'lightblue'"
      (mouseleave)="mycolor = 'white'"
      #nameInput-->
    <input type="text" id="endpointName"
      class="form-control" #nameInput>
    <input type="text" id="endpointType"
      class="form-control" #typeInput>
    <input type="text" id="endpointBaseUrl"
      class="form-control" #baseUrlInput>
    <input type="text" id="endpointClientId"
      class="form-control" #clientIdInput>
    <input type="text" id="endpointClientSecret"
      class="form-control" #clientSecretInput>
  </div>
  <button class="btn btn-primary" type="submit" id="saveBtn"
    (click)="onSave(nameInput, typeInput, baseUrlInput, clientIdInput, clientSecretInput)">Save</button>
</div>
